<h2 class="title"> Mental Health Predictor</h2>

<div>
  <mat-card>
    <mat-card-content *ngIf="takeImg">
      <div style="text-align: center;">
        <webcam [height]="400" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
        </webcam>
      </div>
      <!-- <webcam (initError)="handleInitError($event)"></webcam> -->

      <div style="text-align: center; margin-top: 20px;">
        <button class="actionBtn" mat-raised-button (click)="triggerSnapshot();">
          Click Here and take the Shot</button>
      </div>
      <br><br>
    </mat-card-content>
    <mat-card-content *ngIf="!takeImg">
      <div class="snapshot" *ngIf="webcamImage" style="text-align: center;">
        <h2>Here is your image!</h2>
        <img [src]="webcamImage.imageAsDataUrl" />
      </div>
      <div style="text-align: center;">
        <button class="actionBtn" mat-raised-button (click)="takeImgAgain();">

          Click Here to take Another Shot</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<br><br>
<mat-card>

  <mat-card-content>

    <div style="text-align:center;">
      <button mat-raised-button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start
        Recording </button>
      <button mat-raised-button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording
      </button>

      <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
      </audio>
    </div>

  </mat-card-content>
</mat-card>

<div *ngIf="showResultBtn">

</div>

<div style="text-align: center; margin-top: 20px;">
  <button mat-raised-button (click)="getPredictedEmotion()">Get Result</button>
</div>




<div *ngIf="showChart" class="col-sm-4 text-center" style="width:500px;height:600px;">
  <h2 class="text-center">Emotions Detected</h2>
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType">
  </canvas>
</div>


<!-- style="cursor: pointer;background-color: green;color: white;font-size: 40px;" -->
<!-- style="cursor: pointer;background-color: red;color: white;font-size: 40px;"   -->
