.actionBtn {
    text-align: center;
}


::ng-deep .mat-card{
border: solid #db253d;
border-width: thin;
margin: auto;
    
   }

.title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
